/*  your css code here. If applicable */
 table {
            background-color: yellow;
        }
        th, td {
            border: 1px solid black;
            text-align: left;
        }
        caption {
            font-size: 1.5em;
        }